body{
  background-color: #272D2D;
  color:#EDF5FC;
}

span{
  display:flex;
  flex-flow: row;
}

input{
  margin-bottom: 1.5vw;
}

button:hover{
  cursor: pointer;
}

select:hover{
  cursor: pointer;
}

span > p{
  margin-top: .1vw;
  margin-bottom: .5vw;
  margin-left: .5vw;
  font-size: 1.5vw;
}

.forHeader{
  height:1.5vw;
  margin-left:2vw
}

.headerButton{
  background-color:#EDF5FC;
  height:2vw;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.commentButtons{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.align{
  display: flex;
  flex-flow: row;
}

#FF{
  line-height: 1.5vw;
  font-size: 1vw;
  margin-left: 1vw;
}

.bottomKill{
  margin-bottom: 0vw;
}

.topKill{
  margin-top: 0vw;
}

.bottomSpacer{
  margin-bottom: 1.5vw;
}

.mainContain{
  display:flex;
  flex-flow: column;
  padding: 2.5vw;
}

.repeatContain{
  display: flex;
  flex-flow: row;
}

.carContain{
  border: .25vw ridge #B8C5D6;
  padding: 2vw;
  width: 50%;
  margin-bottom: 1.5vw;
  margin-right:1.5vw;
}

.commentContain{
  padding-left: 3.5vw;
}

.commentContain > div{
  margin-bottom: .5vw;
}

.metaData{
  display: flex;
  justify-content: space-between;
}

.imageContain{
  display: flex;
  justify-content: center;
  align-content: center;
  width:35%;
  max-width: 35%;
  height: 18vw;
  max-height: 18vw;
  overflow: hidden;
  border-radius:3em;
  border-right: .25vw ridge #B8C5D6;
  border-bottom: .25vw ridge #B8C5D6;
  border-left: .25vw groove #B8C5D6;
  border-top: .25vw groove #B8C5D6;
}

.imageContain img{
  width: 100%;
  height: 100%;
}

.make{
  margin-top: 2.5vw;
  background-color: #272D2D;
  position: absolute;
  right: 32%;
  border: .25vw ridge #B8C5D6;
  padding: 2.5vw;
  padding-top: 0vw;
  z-index: 10;
}

.vote{
  height:2vw;
  width: 2vw;
  border-radius: 50%;
  margin-right: .25vw;
}

.riderJustify{
  margin-left: 1.85vw;
}

.up{
  background-color: green;
}

.down{
  background-color: red;
}

.viewButton{
  background-color:#EDF5FC;
  height:2vw;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  margin-top: 1.5vw;
}

.makeButton{
  background-color:#EDF5FC;
  height:2vw;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  margin-top: 1.5vw;
}
