<div class="jumbotron">
  <h2 class="text-center"><img src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg"></h2>
  <h2 class="text-center">Home</h2>
  <div class="text-center" ng-if="!isAuthenticated">
    <p>You are not yet authenticated. <a ui-sref="login">Log in.</a></p>
  </div>
  <div class="text-center" ng-if="isAuthenticated">
    <h2>It's that time again, {{ vm.profile.given_name }}...</h2>
    <img ng-src="{{ vm.profile.picture }}">
  </div>
  <div class="commentButtons rideOrDrive" ng-if="isAuthenticated">
    <button class="btn btn-primary">I want to ride!</button>
    <button class="btn btn-primary">I want to drive!</button>
  </div>
  <!-- <div class="mainContain">
    <div ng-repeat="car in cars  | orderBy: riders" class="repeatContain bottomSpacer">
      <div class="imageContain">
        <img ng-src='{{car.imageUrl}}' alt='{{car.driver}}'>
      </div>
      <div class="carContain align">
        <div class='bottomSpacer'>
          <div>
            <h1 class="topKill"><i class="fa fa-car" aria-hidden="true"></i>{{car.driver}}</h1>
          </div>
        </div>
        <div class='commentButtons'>
          <div>
            <div class='riderJustify'>
              {{car.riders}}
            </div>
            <div class='align'>
              <button class="vote up" ng-click="upVote(id)" ng-init='id=post.id'></button>
              <button class="vote down" ng-click="downVote(id)"></button>
            </div>
          </div>
        </div>
      </div>
      <div class='imageContain'>
        <img ng-src='{{post.image}}' alt='{{post.imageAlt}}'>
      </div>
    </div>
  </div> -->
</div>
