<div class="jumbotron">
  <h2 class="text-center"><img src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg"></h2>
  <h2 class="text-center">Home</h2>
  <div class="text-center" ng-if="!isAuthenticated">
    <p>You are not yet authenticated. <a ui-sref="login">Log in.</a></p>
  </div>
  <div class="text-center" ng-if="isAuthenticated">
    <h2>It's that time again, {{ vm.profile.given_name }}...</h2>
    <img ng-src="{{ vm.profile.picture }}">
  </div>
  <div class="commentButtons rideOrDrive" ng-if="isAuthenticated">
    <button class="btn btn-primary">I want to ride!</button>
    <button class="btn btn-primary" ngClick="showForm()">I want to drive!</button>
  </div>
  <div class="make">
    <label for="seats">How many people can you take?</label>
    <input type="number" name="seats" ng-model="seats" value="1" min="1" max="7" required/>
    <button class="btn btn-primary" ngClick="addCar(seats)"></button>
  </div>
</div>
